body{
    margin: 0;
}
.container-encabezado{ 
    background-color:red ;
    height: 10%;
    display: flex;
    justify-content: center;
    color: white;
}
.encabezado{
    display: flex;
    padding-top: .6em;
}
.container-listas{
    list-style: none;
    display: flex;
    margin: 0;
}
.login,.carrito{
    text-decoration: none;
    color: white;
}
.container-listas li{
    margin-right: 1em;
}
.input-busqueda{
    padding: 1em;
    border-radius: 2em;
    width: 25rem;
}
/* .login{
    position: relative;
} */
/* .container-inicio{
    background-color: white;
    border-radius: .5em;
    position: absolute;
} */
/* .container-inicio-sesion{
    color: black;
    padding: .4em;
    padding-left:1em ;
    padding-right: 1em;
    border:1px solid #e7e5e5
} */
.container-main{
    background-color: rgb(249, 249, 249);
 }

.container-padre-encabezado-main{
    display: flex;
    justify-content: center;
    padding-top: 3em;
}
.container-encabezado-main{
    display: flex;
}
.container-encabezado-main img{
    width: 100%;
}
.container-encabezado-main-imagenes{
    margin: 1em;
}

.container-anuncio-grande img{
    width: 100%;
}


.container-padre-main-principal{
    display: flex;
    justify-content: center;
}
.container-main-principal{
    display: flex;
}
.container-listado-opciones{
    background-color: white;
}
/* thead,thead,th,td{
    padding: .7em;
}
.title-lista-opciones::after{
    content:"";
    display: block;
    width: 112px;
    height: 1px;
    background-color: black;
} */

/* .container-anuncio-little{
    display: flex;
    justify-content: center;
} */
.seccion-anuncio-1{
    display: flex;
    justify-content: center;
}

.imagen-prueba{
    margin: 2em;
}
.seccion-anuncio-2{
    display: flex;
    justify-content: center;
}
.seccion-anuncio-3{
    display: flex;
    justify-content: center;
}
.cartel-anuncio{
    border: 1px solid black;
    margin: 1em;
    padding-top: 1em;
    padding-bottom: .5em;
    padding-left: 3em;
    padding-right: 3em;
    border-radius: 1em;
}
.flash-sale{
    color: red;
}
.parrafo-anuncio{
    margin: 0;
}
.container-secciones{
    background-color: red;
    display: flex;
    justify-content: center;
}
.secciones-productos{
    list-style: none;
    display: flex;
    margin: 0;
    padding-top: .5em;
    padding-bottom:.2em ;
}
.secciones-productos li{
    margin-right: 4em;
}

.container-parrafo-productos{
    display: flex;
    justify-content: center;
    font-size: 1.5em;
}

.container-productos{
    display: grid;
    /* justify-items: center; */
    margin: 0 auto;
    width: 60%;
    grid-gap: 2rem;
    grid-template-columns: repeat(3,1fr);
    /* grid-template-rows: repeat(10,1fr); */
}
.container-productos img{
    width: 100%;
    border-radius: 1em;
}
.container-mosaicos-productos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-mosaicos-productos{
    margin-top: 2em;
}
.header-mosaico{
    background-color: red;
    border-radius: 1em 1em 0 0;
    padding: .5em;
    display: flex;
}
.texto-header-mosaico{
    color: white;
    font-weight: bold;
}
.opciones-mosaico{
    display: flex;
    margin-left:20rem ;
}
.opciones-mosaico div{
    padding:.6em;
    margin-right: .6em;
    background-color: rgb(48, 47, 47);
    color: white;
    border-radius: 1em;
}
.container-mosaico{
    margin-top: 2em;
}


/* .container-mosaicos-productos div{
    width: 70%;
    margin: 0 auto;
} */


